<footer class="footer">
  <small>
    <%= t ".fo_txt1" %><a><%= link_to t(".fo_link1"),
      "http://www.railstutorial.org/" %></a>
    <%= t ".fo_txt2" %><a><%= link_to t(".fo_link2"),
      "http://www.michaelhartl.com/" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".fo_path1"), about_path %></li>
      <li><%= link_to t(".fo_path2"), contact_path %></li>
      <li><%= link_to t(".fo_link3"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
